header {
    display: flex;
    background-color: lightgray;
    height: var(--header-height);
    button {
        padding-inline: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
            margin-right: 8px;
        }
    }
}