<header>
    <div>
        <button (click)="addNote()"><img src="assets/img/plus-32.png">Neue Notiz</button>
        <input [(ngModel)]="inputMemo" type="text" placeholder="Text eingeben ...">
    </div>
    <button (click)="renderMemos()"><img src="assets/img/info-32.png">Info</button>
</header>

<main id="content">

    <app-note [person]="memo.person" [text]="memo.text" *ngFor="let memo of memos$ | async" (click)="entfNote()"></app-note>

    <!-- In die componente übergeben -->
    <!-- <div class="note" *ngFor="let memo of memos$ | async">
        <h3>{{memo.person}}</h3>
        <p>{{memo.text}}</p>
    </div> -->

</main>