<header>
    <div>
        <button (click)="addNote()"><img src="assets/img/plus-32.png">Neue Notiz</button>
        <input [(ngModel)]="inputMemo" type="text" placeholder="Text eingeben ...">
    </div>
    <button><img src="assets/img/info-32.png">Info</button>
</header>

<main id="content">

    <app-note [memo]="memo" *ngFor="let memo of memos$ | async; let i = index"></app-note>
    <!-- <app-note [memo]="memo" *ngFor="let memo of memos$ | async; let i = index" (click)="entfNote($any(memo['id']))"></app-note> -->


    <!-- In die componente übergeben -->
    <!-- <div class="note" *ngFor="let memo of memos$ | async">
        <h3>{{memo.person}}</h3>
        <p>{{memo.text}}</p>
    </div> -->

</main>